.clock {
  position: relative;
  background: $darkRed;
  max-width: 550px;
  max-height: 550px;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 50px;

  .whirlpool {
    border-radius: 50%;
    position: absolute;
    &--1 {
      width: 105%;
      height: 105%;
      border: 8px solid $white;
      border-left-color: $darkRed;
      animation: cssload-rotate 2500ms linear infinite;
    }

    &--2 {
      width: 113%;
      height: 113%;
      border: 5px solid $white;
      border-left-color: $darkRed;
      animation: cssload-rotate 3500ms linear infinite;
    }

    &--3 {
      width: 120%;
      height: 120%;
      border: 3px solid $white;
      border-left-color: $darkRed;
      animation: cssload-rotate 6000ms linear infinite;
    }
  }

  @keyframes cssload-rotate {
    100% {
      transform: rotate(360deg);
    }
  }


  &:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: $darkRed;
    border: 1px solid $white;
    border-radius: 50%;
    z-index: 100000;
  }

  span {
    position: absolute;
    inset: 20px;
    color: #F9DBBD;
    text-align: center;

    b {
      font-size: 1em;
      //opacity: .25;
      font-weight: 600;
      display: inline-block;
    }
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        transform: rotate(calc(30deg * #{$i}));
        b {
          transform: rotate(calc(-30deg * #{$i}));
        }
      }
    }
  }

  .circle {
    position: absolute;
    width: 70%;
    height: 70%;
    border: 1px solid rgba($white, .25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;

    i {
      position: absolute;
      width: 6px;
      height: 50%;
      transform-origin: bottom;
      transform: scaleY(0.5);
    }

    &--1 {
      i {
        width: 2px;
        background: #04fc43;
      }
      &:before {
        background: #04fc43;
        box-shadow: 0 0 20px #04fc43, 0 0 60px #04fc43;
      }
    }

    &--2 {
      width: 60%;
      height: 60%;
      z-index: 9;
      i {
        width: 6px;
        background: #fee800;
      }
      &:before {
        background: #fee800;
        box-shadow: 0 0 20px #fee800, 0 0 60px #fee800;
      }
    }

    &--3 {
      width: 50%;
      height: 50%;
      z-index: 8;
      i {
        background: #ff2972;
      }
      &:before {
        background: #ff2972;
        box-shadow: 0 0 20px #ff2972, 0 0 60px #ff2972;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -8.5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}