.technology {
  &-cloud {
    width: 100%;
    position: relative;

    &__tag {
      padding: 5px;
      position: absolute;
      max-width: 110px;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}