@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

.morph {
  filter: url(#threshold) blur(0.6px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  //padding: 20px;
  &__text {
    position: absolute;
    width: 100%;
    //font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 100px;
    text-align: center;

    user-select: none;
  }
}