.cloud {
  width: 100%;
  height: 600px;
  margin: 50px 0;
  position: relative;

  &__tag {
    padding: 5px;
    position: absolute;
    max-width: 85px;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }

    @function random-range($min, $max) {
      $random-number: random();
      $range: $max - $min;
      $random-range: $min + $random-number * $range;
      @return $random-range;
    }

    @for $i from 0 through 43 {
      &:nth-child(#{$i}) {
        font-size: random-range(12, 30)+px;
        $random: random-range(3, 8)+s;
        $rgb: rgb(random-range(0,255), random-range(0,255), random-range(0,255));
        color: $rgb;
        text-shadow: 0 0 0.2em $rgb;
      }
    }
  }
}