.navigation {
  //position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 99999;

  &-item {
    @include text-size(24);
    & + & {
      margin-left: 15px;
    }
    &--download {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0;
        top: 0;
        background-color: #000;
        border-radius: 50%;
        //background: url("../../../assets/icon/download.svg");
      }
    }
    a {
      color: $white;
      &.active {
        color: $red;
      }
    }
  }
}