@mixin btn-style($btn-padding:0, $typeBtn: null) {
  width: max-content;
  padding: $btn-padding;
  background: $yellow;
  box-shadow: 0px 0px 29px rgba(255, 249, 94, 0.54);
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #1A202C;
  cursor: pointer;
  transition: box-shadow .3s;
  &:hover {
    box-shadow: 0px 0px 34px rgba(255, 249, 94, 0.84);
  }
  @if $typeBtn == true {
    display: flex;
    &::after {
      content: url("../../images/long_right.svg");
      display: block;
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }
  @if $typeBtn == select {
    display: flex;
    width: 100%;
    border: 1px solid #FFD324;
    justify-content: center;
    background-color: #fff;
    box-shadow: none;
    @include point(ms-md) {
      border-radius: 5px;
    }
  }
}